.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/fdrt-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-text-1 {
  width: 740px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rba(0,0,0,0.4);
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 740px;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-table-1 {
  width: 1033px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-7 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-8 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-9 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-10 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-11 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-12 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-13 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-14 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-15 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-16 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-17 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-18 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-block-3afb-45 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-3afb-46 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-3afb-47 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-text-3 {
  width: 788px;
  margin: 30px auto 60px;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1258px;
}

.u-section-2 .u-image-1 {
  width: 218px;
  height: 218px;
  background-image: url("images/ad2fd057d94dddac084076fee397476d91f2a9e7fd38b6705f5e3a0d70ae6d098ac2e1046c6c9f15df9ead5ec662c03a934b1cda221d65ee7108cd_1280.png");
  background-position: 50% 50%;
  margin: 70px auto 0 48px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 826px 0 0;
}

.u-section-2 .u-table-1 {
  width: 642px;
  margin: -218px 92px 0 auto;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-2 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.25rem;
}

.u-section-2 .u-table-body-1 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-block-9d6f-39 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-9d6f-40 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -264px 420px 0 406px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -37px 92px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 517px 778px 0 48px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -33px auto 0 943px;
}

.u-section-2 .u-table-2 {
  width: 1044px;
  height: 246px;
  margin: 6px auto 60px 48px;
}

.u-section-2 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
}

.u-section-2 .u-table-cell-7 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-8 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-10 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-11 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-12 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.25rem;
}

.u-section-2 .u-table-body-2 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-14 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-15 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-16 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-18 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-19 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-20 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-21 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-22 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-23 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-section-2 .u-table-cell-24 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.u-block-9d6f-59 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-9d6f-73 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-9d6f-60 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-9d6f-65 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-9d6f-69 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-9d6f-77 {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 370px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 320px;
    margin-left: 306px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 626px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 743px;
  }

  .u-section-2 .u-table-2 {
    width: 940px;
    height: 216px;
    margin-right: 92px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 150px;
  }

  .u-section-2 .u-table-1 {
    margin-right: 78px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 210px;
    margin-left: 196px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 406px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 523px;
  }

  .u-section-2 .u-table-2 {
    width: 720px;
    margin-right: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 120px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 226px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 343px;
  }

  .u-section-2 .u-table-2 {
    width: 540px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-top: 241px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 76px;
    margin-right: 26px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
    margin-top: -119px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 20px;
    margin-left: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -35px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 616px;
    margin-right: 26px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 143px;
  }

  .u-section-2 .u-table-2 {
    width: 340px;
    margin-top: 17px;
    margin-bottom: 0;
  }
}.u-section-3 {
  min-height: 780px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  width: 691px;
  margin: 8px auto 0;
}

.u-section-3 .u-group-1 {
  min-height: 222px;
  margin: 35px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-shape-1 {
  width: 38px;
  height: 25px;
  margin: 982px 264px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 33px;
  height: 21px;
  margin: -24px 482px -812px auto;
}

.u-section-3 .u-gallery-1 {
  height: 296px;
  width: 1140px;
  margin: -171px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 32px calc(((100% - 1140px) / 2) + 911px) 0 calc(((100% - 1140px) / 2) + 38px);
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: -66px calc(((100% - 1140px) / 2) + 626px) 0 calc(((100% - 1140px) / 2) + 323px);
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  margin: -61px calc(((100% - 1140px) / 2) + 29px) 0 calc(((100% - 1140px) / 2) + 912px);
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: -71px calc(((100% - 1140px) / 2) + 341px) 60px calc(((100% - 1140px) / 2) + 608px);
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 728px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-1 {
    height: 244px;
    width: 940px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 749px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 526px);
    margin-left: calc(((100% - 940px) / 2) + 223px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 741px);
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 241px);
    margin-left: calc(((100% - 940px) / 2) + 508px);
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1232px;
  }

  .u-section-3 .u-gallery-1 {
    height: 748px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 529px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 416px);
    margin-left: calc(((100% - 720px) / 2) + 113px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 521px);
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 131px);
    margin-left: calc(((100% - 720px) / 2) + 398px);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 2728px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2244px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 349px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 326px);
    margin-left: calc(((100% - 540px) / 2) + 23px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 341px);
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 41px);
    margin-left: calc(((100% - 540px) / 2) + 308px);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1897px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 287px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1413px;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 149px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 149px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 141px);
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 149px);
  }
}.u-section-4 {
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1182px;
}

.u-section-4 .u-group-1 {
  min-height: 951px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 133px;
  margin-bottom: 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 92px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-4 .u-image-1 {
  min-height: 762px;
  background-image: url("images/slots101.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 762px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 48px 30px 60px;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 66px auto 0 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  margin: -10px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 53px 0 0;
}

.u-section-4 .u-custom-html-1 {
  min-height: 115px;
  width: 339px;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-image: none;
  margin: 135px auto 0;
  padding: 0 18px 0 16px;
}

.u-section-4 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.8em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 628px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 628px;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
    width: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-4 .u-image-1 {
    min-height: 481px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-custom-html-1 {
    width: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    background-position: 53.53% 74.53%;
    background-size: auto 125%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 570px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    background-position: 59.36% 79.12%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 79px;
    margin-right: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 359px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-5 {
  min-height: 762px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 762px;
  background-image: url("images/slots10.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-group-1 {
  width: 645px;
  min-height: 141px;
  margin: 279px auto 0 86px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 0 auto 0 0;
  padding: 10px 17px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -42px auto 0 149px;
  padding: 10px 17px;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -42px auto 0 298px;
  padding: 10px 17px;
}

.u-section-5 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -42px 156px 0 auto;
  padding: 10px 17px;
}

.u-section-5 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -42px 0 0 auto;
  padding: 10px 17px;
}

.u-section-5 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 57px auto 0 0;
  padding: 10px 17px;
}

.u-section-5 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -42px auto 0 149px;
  padding: 10px 17px;
}

.u-section-5 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -42px auto 0 298px;
  padding: 10px 17px;
}

.u-section-5 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -42px 253px 0 auto;
  padding: 10px 17px;
}

.u-section-5 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: -42px auto 0 688px;
  padding: 10px 13px 10px 12px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 762px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 48px 30px 60px;
}

.u-section-5 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 66px auto 0 0;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  margin: -10px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 53px 0 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 115px;
  width: 339px;
  margin: 0;
}

.u-section-5 .u-btn-11 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-image: none;
  margin: 135px auto 0;
  padding: 0 18px 0 16px;
}

.u-section-5 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  font-size: 1.8em;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 580px;
  }

  .u-section-5 .u-image-1 {
    min-height: 662px;
  }

  .u-section-5 .u-group-1 {
    width: 537px;
    margin-top: 245px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -41px;
    margin-left: 122px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: -43px;
    margin-left: 240px;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 132px;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 7px;
  }

  .u-section-5 .u-btn-6 {
    margin-top: 29px;
  }

  .u-section-5 .u-btn-7 {
    margin-left: 122px;
  }

  .u-section-5 .u-btn-8 {
    margin-left: 240px;
  }

  .u-section-5 .u-btn-9 {
    margin-top: -70px;
    margin-right: 193px;
  }

  .u-section-5 .u-btn-10 {
    margin-right: 68px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 628px;
  }

  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 444px;
  }

  .u-section-5 .u-image-1 {
    min-height: 507px;
  }

  .u-section-5 .u-group-1 {
    width: 360px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 63px;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-8 {
    margin-left: 63px;
  }

  .u-section-5 .u-btn-9 {
    margin-right: 43px;
  }

  .u-section-5 .u-btn-10 {
    margin-right: 0;
    margin-left: 478px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-custom-html-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 766px;
  }

  .u-section-5 .u-image-1 {
    min-height: 761px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 519px;
  }

  .u-section-5 .u-image-1 {
    min-height: 479px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 43px;
  }

  .u-section-5 .u-btn-8 {
    margin-left: 43px;
  }

  .u-section-5 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-10 {
    margin-left: 278px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}